<header class="fixed top-0 left-0 w-full z-[201]">
  <div class="p-2">
    <div class="backdrop-blur-md bg-white rounded text-center p-2">
      <img class="h-8 mx-auto" src="./assets/logo.svg" alt="БрекетНН">
    </div>
  </div>
</header>

<div class="w-full mx-auto my-10 px-4 py-0">
  <div class="collection aos-init aos-animate" data-aos="fade-up" data-aos-duration="600" data-aos-delay=""
       style="background-image: url('assets/1-1.jpg'); background-size: cover; background-position: center;">
    <div class="collection__wrap p-4 md:p-8">
      <h2 class="collection__head text-lg md:text-xl">НАШИ АКЦИИ</h2>
      <a href="https://vk.com/breketnnstom" class="btn _light intro-main-btn mt-2 md:mt-4">Смотреть</a>
    </div>
  </div>
</div>

<div class="w-full mx-auto my-10 px-4 py-0">
  <div class="collection aos-init aos-animate" data-aos="fade-up" data-aos-duration="600" data-aos-delay=""
       style="background-image: url('assets/6.jpg'); background-size: cover; background-position: center;">
    <div class="collection__wrap p-4 md:p-8">
      <h2 class="collection__head text-lg md:text-xl">УСЛУГИ</h2>
      <a href="https://vk.com/breketnnstom" class="btn _light intro-main-btn mt-2 md:mt-4">Смотреть</a>
    </div>
  </div>
</div>

<div class="w-full mx-auto my-10 px-4 py-0">
  <div class="collection aos-init aos-animate" data-aos="fade-up" data-aos-duration="600" data-aos-delay=""
       style="background-image: url('assets/2.jpg');background-size: cover; background-position: center;">
    <div class="collection__wrap p-4 md:p-8">
      <h2 class="collection__head text-lg md:text-xl">НАША РАБОТЫ</h2>
      <a href="https://vk.com/breketnnstom" class="btn _light intro-main-btn mt-2 md:mt-4">Смотреть</a>
    </div>
  </div>
</div>

<div class="w-full mx-auto my-10 px-4 py-0">
  <div class="collection aos-init aos-animate" data-aos="fade-up" data-aos-duration="600" data-aos-delay=""
       style="background-image: url('assets/4.jpg');background-size: cover; background-position: top;">
    <div class="collection__wrap p-4 md:p-8">
      <h2 class="collection__head text-lg md:text-xl">НАША ВРАЧИ</h2>
      <a href="https://vk.com/breketnnstom" class="btn _light intro-main-btn mt-2 md:mt-4">Смотреть</a>
    </div>
  </div>
</div>

<div class="w-full mx-auto my-10 px-4 py-0">
  <div class="collection aos-init aos-animate" data-aos="fade-up" data-aos-duration="600" data-aos-delay=""
       style="background-image: url('assets/5.jpg'); background-size: cover; background-position: center;">
    <div class="collection__wrap p-4 md:p-8">
      <h2 class="collection__head text-lg md:text-xl">НАША КЛИНИКА</h2>
      <a href="https://vk.com/breketnnstom" class="btn _light intro-main-btn mt-2 md:mt-4">Смотреть</a>
    </div>
  </div>
</div>

<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-col">
        <div class="footer-col__title">Адрес клиники:</div>
        <p class="mb-3"><a class="footer-col__link" href="#">г.Нижний -Новгород
          ул. Максима Горького, 260</a></p>
      </div>
      <div class="footer-col">
        <div class="footer-col__title">Сall-центр:</div>
        <p class="mb-3"><a class="footer-col__link" href="tel:+79051900055
">8 905 190 00 55
        </a></p>
        <p class="footer-col__text">Понедельник - Пятница с 09:00 до 17:00</p>
        <div class="footer-col__title mt-5">Почта:</div>
        <p><a class="footer-col__link footer-col__link--underline"
              href="mailto:breket-nn@mail.ru ">breket-nn&#64;mail.ru</a></p>
      </div>
      <div class="footer-col">
        <div class="footer-col__title">Социальные сети:</div>
        <p><a class="footer-col__link footer-col__link--underline"
              href="https://vk.com/breketnnstom" target="_blank">VK</a></p>
      </div>
    </div>
    <div class="footer__main">
    </div>
    <div class="footer__main">
    </div>
  </div>
</footer
