# Игнорировать все Markdown-файлы, кроме README.md
**/*.md
!README.md
!**/README.md


# Игнорировать все файлы .env
**/.env
!backend/.env
!frontend/.env
!docker-compose.yml
# Игнорировать все текстовые файлы
**/*.txt

# Разрешить backend requirements
!backend/requirements.txt
